 body{
   padding-top: 2%;
 }
 .prepare {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  select {
    background-color: white;
    color: #26ACE8;
    border-style: solid;
    border-color: #26ACE8;
    border-radius: 10px;
    border-width: 2px;
    padding: 5px;
    margin: 0;
    width: 225px;
    height: 5%;
}

iframe {
    border-style: solid;
    border-color: #26ACE8;
    width: 90%;
    height: 85%;
}

input {
  border-style: solid;
  border-color: #26ACE8;
  border-radius: 10px;
  border-width: 2px;
  padding: 5px;
  color: #26ACE8;
  background-color: transparent;
  height: 5%;
  width: 75px;
}

input:hover {
  border-color: white;
  color: white;
  background-color: #26ACE8;
}
  

